<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

<form action='@Url.Action("Comenzar, new { }")' method="get">
    <select class="form-select" aria-label="Default select example" required>
            <option selected>Eliga la dificultad</option>
            @foreach(Dificultad d in ViewBag.Dificultades){
                <option value="@d.IdDificultad">@d.Nombre</option>
            }
            <option value="-1">Todas</option>
    </select>

    <select class="form-select" aria-label="Default select example" required>
            <option selected>Eliga la categoría</option>
            @foreach(Categoria c in ViewBag.Categorias){
                <option value="@c.IdCategoria">@c.Nombre</option>
            }
            <option value="-1">Todas</option>
    </select>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nombre de usuario</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre">
    </div>

    <div class="col-12">
        <button class="btn btn-primary" type="submit">Ingresar</button>
    </div>
</form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>